body{
    background-color: lightgray;
    padding: 40px;
}
#welcome{
    text-align: center;
}
#login{
    margin: 0 auto;
    padding: 50px;
}
#register{
    margin: 0 auto;
    padding: 50px;
}
#logout{
    margin: 0 auto;
    padding: 50px;
}