{% extends 'homepage.html' %}

{% block content %}
    <h1 id="welcome">Welcome, {{user.username}}</h1>
    <a id="logout" href="{% url 'story9app:login' %}"><button>Log Out</button></a>
{% endblock %}