<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>My Website</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/web.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body>
        {% block content %}
            <h1 id="welcome">Welcome!</h1>
            {% if user.is_authenticated %}
                <a href="{% url 'story9app:login' %}"><button>Log Out</button></a>
                {% else %}
                <div class="col-12 col-md-3" id="login">
                    <a href="{% url 'story9app:login' %}"><button>Log In</button></a>
                    <a href="{% url 'story9app:register' %}"><button>Register</button></a>
                </div>
            {% endif %}
        {% endblock %}
    </body>
</html>