{% extends 'homepage.html' %}

{% block content %}
    <h1>Create New Account</h1>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <a href="{% url 'story9app:login' %}"><button>Register</button></a>
    </form>
{% endblock %}